<h1>{{title}}</h1>
<div class="lista"> 
    <div *ngFor="let book of books">
    <div class="box">
        <img [src]="book.coverUrl">
        <span> 
            <div class="ordinata">
                <div class="titolo">{{book.title}}</div>
                <div class="autore">{{book.author}}</div>
                <div class="data">Data pubblicazione: {{book.publicationDate | date:'dd/MM/yyyy'}}</div>
                <button (click)="editBook(book)">Modifica</button>
            </div>
        </span>
    </div>
    </div>  
</div>
