h2 {
    text-align: center;
    color: #1d3557;
    font-size: 25px;
    font-style: italic;
}

.modificare {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input, button {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #1d3557;
    border: none;
    color: #e4e2e2;
    height: 23px;
}